:root{
    font-size: 62.5%;
    --fundocolor: #313e51;
    --textcolor: #ffffff;
    --roxo: #A729F5;
    --opcoes: #3b4d66;
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    display: flex; /*se eu apagar a imagem de fundo buga, ja tentei deixar so em img*/
    background-color: #313e51;
    flex-direction: column;
    color: #FFFFFF;
}

img.fundo{
    display: flex; /*se eu apagar a imagem de fundo buga*/
    position: absolute;
    width: 100%;
    z-index: -1;
}

main {
    justify-content: space-between;
    margin: 3em 7em 0 19em;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    margin: 6em 10em 0 0;
}


#roxo {
    background-color: #A729F5;
    height: 3em;
    width: 4.5em;
    border-radius: 2em;
    display: flex; /*pq???? ja ta o body???*/
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 0.5em;
}

#branco {
    background-color: #FFFFFF;
    height: 2em;
    width: 2em;
    border-radius: 50%;
}


span{
    font-weight: 200;
    
}

.t1 {
    display: flex;
    margin-top: .1em; /*como eu resolvo sem precisar do negativo?*/
    flex-direction: column; /*PQ???? JA TA NO BODY*/ 
    font-size: 6.5em;
}

.legenda {
    font-size: 1.7em;
    color: #72819b;
    margin-top: 4em;
    margin-left: .3em;
    font-weight: 500;
}

.icon-html, .icon-css, .icon-js, .icon-acces{
    padding: 1em;
    border-radius: 1em;
}

.icon-html{
    background-color: #FFF1E9;
}

.icon-css{
    background-color: #E0FDEF;
}

.icon-js{
    background-color: #EBF0FF;
}

.icon-acces{
    background-color: #FFF1E9;
}

section{
    display: inline-block;
    margin-top: 10em;
    vertical-align: top;
}

p{
    font-size: 2em;
}

ul{
    list-style-type: none;
    margin: 0;
}

.container-html, .container-css, .container-js, .container-accessibility {
    background-color: #3b4d66;
    width: 150%;
    gap: 2em;
    padding: 1.4em;
    margin: 2em;
    border-radius: 2em;
    display: flex;
    margin-left: 10em;
}








  
